* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    transition: 0.15s;
}

header {
    color: #fff;
    box-shadow: 0px 4px 37px -7px rgba(0, 0, 0, 0.1);
}

.reg-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.reg-links a:hover {
    background: #7bed9f;
    color: #2d3436;
    border-radius: 0px 10px 0px 10px;
}

header .container {
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.logo b {
    color: #2d3436;
    background: #7bed9f;
    padding: 5px;
    border-radius: 0px 10px 0px 10px;
}

.bg-header {
    background: #2d3436;
}

.bg-white {
    background: #fff;
}
/* 
footer .container {
    color: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    background: #2d3436;
} */

.custom-input input {
    width: 300px;
}

.mt-120 {
    margin-top: 120px;
}
